<ion-header>
  <ion-toolbar>
    <ion-title>
      Pokedéx
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pokedéx</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let pokemon of pokemonList">
        <ion-card>
          <ion-card-title class="nome">{{ pokemon.name | uppercase }}</ion-card-title>
          <ion-img src="{{pokemon.img}}"></ion-img>
          <ion-card-content>
            <ion-list>
              <ion-item color="success">
                Vitorias: {{pokemon.vitorias}}
              </ion-item>
              <ion-item color="warning">
                Empates: {{pokemon.empates}}
              </ion-item>
              <ion-item color="danger">
                Derrotas: {{pokemon.derrotas}}
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>