<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Relatórios
    </ion-title>
  </ion-toolbar>


<ion-card>
<ion-card-content>


  <h5>Total de senhas emitidas: {{senhasService.senhasTotal}}</h5>
  <ion-button size="small" expand="Full"> Senha G.: {{senhasService.senhasGeral}} </ion-button>
  <ion-button size="small" expand="Full">Senha P.: {{senhasService.senhasPrior}}</ion-button>
  <ion-button size="small" expand="Full">Senha E.: {{senhasService.senhasExame}}</ion-button>
  <h1><br></h1>
  <h5>Total de senhas atendidas: {{senhasService.senhasTotal}}</h5>
  <ion-button size="small" expand="Full"> Senha G.: {{senhasService.senhasGeral}} </ion-button>
  <ion-button size="small" expand="Full">Senha P.: {{senhasService.senhasPrior}}</ion-button>
  <ion-button size="small" expand="Full">Senha E.: {{senhasService.senhasExame}}</ion-button>
  <h1><br></h1>
</ion-card-content>
</ion-card>
<ion-item>
<h5>Relatório Detalhado de atendimentos:</h5>
</ion-item>

<ion-card>
  <ion-item>
    <ion-icon aria-hidden="true" name="eye-off-sharp" slot="start"></ion-icon>
    <ion-label>230908-SG08 <br>Guimê: 005 <br> Horário: 17:18</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon aria-hidden="true" name="eye-off-sharp" slot="start"></ion-icon>
    <ion-label>230908-SP04 <br>Guimê: 009 <br> Horário: 17:25</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon aria-hidden="true" name="eye-off-sharp" slot="start"></ion-icon>
    <ion-label>230908-SP04 <br>Guimê: 007 <br> Horário: 17:43</ion-label>
  </ion-item>
</ion-card>