/* Estilo para o cabeçalho da página */
ion-header {
    background: #007bff; /* Cor de fundo azul */
    color: white; /* Cor do texto no cabeçalho */
  }
  
  ion-toolbar {
    --background: #007bff; /* Cor de fundo azul para a barra de ferramentas */
  }
  
  /* Estilo para o título na barra de ferramentas */
  ion-title {
    font-size: 1.5rem; /* Tamanho da fonte do título */
  }
  
  /* Estilo para o conteúdo na barra de ferramentas condensada */
  ion-header.collapse ion-toolbar {
    background: #007bff; /* Cor de fundo azul */
    color: white; /* Cor do texto na barra de ferramentas condensada */
  }
  
  /* Estilo para o título na barra de ferramentas condensada */
  ion-header.collapse ion-title {
    font-size: 1.2rem; /* Tamanho da fonte do título na barra de ferramentas condensada */
  }
  
  /* Estilo para o card */
  ion-card {
    margin: 20px; /* Espaçamento em torno do card */
  }
  
  /* Estilo para o conteúdo do card */
  ion-card-content {
    padding: 20px; /* Preenchimento interno do conteúdo do card */
  }
  
  /* Estilo para a lista de itens */
  ion-list {
    margin-top: 20px; /* Espaçamento superior da lista */
  }
  
  /* Estilo para os itens da lista */
  ion-item {
    border-bottom: 1px solid #ddd; /* Linha divisória entre os itens */
  }
  
  /* Estilo para o rótulo da lista */
  ion-label {
    font-weight: bold; /* Texto em negrito */
    font-size: 1rem; /* Tamanho da fonte do rótulo */
  }
  
  /* Estilo para os itens da lista com valores */
  ion-item ion-label {
    font-weight: normal; /* Texto não em negrito */
  }
  