body {
	background: #68bff5;
	color: #030303;
	font-family: Arial, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
    
}

.slider{
  height: 250px;
  margin: auto;
  position: relative;
  width: 70%;
  display: grid;
  place-items: center;
}

.slide-track {
  display: flex;
  width: calc(250px * 18);
  animation: scroll 40s linear infinite;
}

.slide-track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0%{
      transform: translateX(0);
  }
  100%{
      transform: translateX(calc(-250px * 9));
  }
}

.slide {
  height: 250px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}

img {
  width: 100%;
  transition: transform 1s;
}

img:hover {
  transform: translateZ(20px);
}


.slider::before,
.slider::after {
  background: linear-gradient(to right, rgba(255,255,255,1) 0%,
  rgba(255,255,255,0) 100%);
  content: '';
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.slider::before {
  left: auto;
  top: auto;
}

.slider::after {
  right: auto;
  top: auto;
  transform: rotateZ(100deg);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
}

nav ul {
	display: flex;
	justify-content: flex-end;
	list-style: none;
	margin: 0;
	padding: 0;
}

ul:hover{
    color: #070707;
}

nav ul li {
	margin: 0 10px;
}

nav ul li a {
	color: #0a0a0a;
	text-decoration: none;
}

.hero {
	align-self: center;
	text-align: center;
}

.hero h1 {
	font-size: 70px;
	margin: 0;
	padding: 0;
}

.hero img {
  width: 200px;
  border-radius: 20px;
  border-style: none;
}

.hero p {
	font-size: 20px;
	margin: 20px 0;
	padding: 0;
}



main {
  opacity: 0;
	display: flex;
	flex-wrap: row nowrap;
	margin: 50px auto;
	max-width: 1200px;
    
}

.fade-in {
    opacity: 1;
    transition: opacity 3.0s ease;
  }
  
@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
  }



footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.arrow {
    position: absolute;
    color:#030303;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    animation: arrow 2s infinite;
}
  
.arrow::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-top: 2px solid #070707;
    border-right: 2px solid #050505;
    transform: rotate(132.5deg);
    margin: 0 auto;
}
  
@keyframes arrow {
    0% {
      opacity: 0;
      bottom: 1rem;
    }
    50% {
      opacity: 1;
      bottom: 2rem;
    }
    100% {
      opacity: 0;
      bottom: 3rem;
    }
}

.hidden {
    display: none;
}