
<ion-card>
  <ion-card-content>
  
    <ion-button color="success" expand="block"> Senhas emitidas: {{senhasService.senhasTotal}} </ion-button>
    <ion-button color="medium" expand="block"> Senhas Geral: {{senhasService.senhasGeral}} </ion-button>
    <ion-button color="medium" expand="block">Senhas Prioritárias: {{senhasService.senhasPrior}}</ion-button>
    <ion-button color="medium" expand="block">Senhas Exame: {{senhasService.senhasExame}}</ion-button>
  
  </ion-card-content>
  </ion-card>