<ion-toolbar>
  <ion-title>
    Atendentes
  </ion-title>
</ion-toolbar>

<ion-content color="black">
  <ion-list>
    <ion-item>
      <ion-item>
        <ion-icon aria-hidden="true" name="create-sharp" slot="start"></ion-icon>
        <ion-label>Senha Atual: 230975-SG08 <br>Guimê: 007</ion-label>
        <br>
      </ion-item>
    </ion-item>
    <ion-item>
      <ion-label><br></ion-label>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="eye-off-sharp" slot="start"></ion-icon>
      <ion-label>230998-SG08 <br>Guimê: XXX</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="eye-off-sharp" slot="start"></ion-icon>
      <ion-label>270999-SP04 <br>Guimê: XXX</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="eye-off-sharp" slot="start"></ion-icon>
      <ion-label>230976-SE04 <br>Guimê: XXX</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="eye-off-sharp" slot="start"></ion-icon>
      <ion-label>230958-SG09 <br>Guimê: XXX</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="eye-off-sharp" slot="start"></ion-icon>
      <ion-label>230948-SG10 <br>Guimê: XXX</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="eye-off-sharp" slot="start"></ion-icon>
      <ion-label>230928-SP05 <br>Guimê: XXX</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
