<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-label>Relátorio senhas emitidas</ion-label>
        <ion-item>Senhas Emitidas: {{senhasService.senhasTotal}}</ion-item>
        <ion-item>Senhas Geral: {{senhasService.senhasGeral}}</ion-item>
        <ion-item>Senhas Prioritárias: {{senhasService.senhasPrior}}</ion-item>
        <ion-item>Senhas Exame: {{senhasService.senhasExame}}</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-label>
        Tempo médio de atendimento:
      </ion-label>
    </ion-card-header>
    <ion-card-content>

      <ion-list>
        <ion-item>Geral: {{senhasService.tmpGeral}} minutos</ion-item>
        <ion-item>Prioritária: {{senhasService.tmpPrior}} minutos</ion-item>
        <ion-item>Exame: {{senhasService.tmpExame}} minutos</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
