<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="search-circle-outline"></ion-icon>
      <ion-label>Buscar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="invert-mode-outline"></ion-icon>
      <ion-label>Batalhar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="tv-outline"></ion-icon>
      <ion-label>Pokédex</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
