<ion-card>
  <ion-list>
    <ion-item>
      <ion-label style="color: blue; font-size: 40px" class="ion-text-center"> {{ senhasService.senhaAtual }}</ion-label>
    </ion-item>

    
    <ion-item>
      <ion-label style="color: blue; font-size: 25px" class="ion-text-center"> Guichê #{{senhasService.guiche}}</ion-label>
    </ion-item>
    <ion-item *ngFor="let senha of senhasService.senhasChamadas">
      <ion-label class="ion-text-center" style="font-size: 30px">{{ senha }}</ion-label>
    </ion-item>
  </ion-list>
</ion-card>

<ion-card-content>
  <ion-button expand="block" (click)="chamarProxSenha()" style="font-size: 25px">
    Chamar Próxima Senha
  </ion-button>
</ion-card-content>
