<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Projeto Mobile
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-input readonly="true" label="Senha: " [value]="senhasService.inputNovaSenha"></ion-input>
    </ion-card-header>

    <ion-card-content>
      <ion-button expand="block" (click)="gerarSenhaSG()">Senha Geral</ion-button>
      <ion-button expand="block" (click)="gerarSenhaSP()">Senha Prioritária</ion-button>
      <ion-button expand="block" (click)="gerarSenhaSE()">Senha Exame</ion-button>
    </ion-card-content>
  </ion-card>
  
  <!-- Exibir as últimas 5 senhas chamadas -->
  <ion-card>
    <ion-card-header>
      <h2>Últimas 5 Senhas Chamadas:</h2>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let senha of senhasService.ultimasSenhasChamadas; let i = index">
          {{ senha }}
          Guichê: {{ dataEGuiches[i].guiche }}
          <ion-item>
              Data: {{ dataEGuiches[i].data }}
          </ion-item>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
