/* Estilo para o cabeçalho da página */
ion-header {
  background: #007bff; /* Cor de fundo azul */
  color: white; /* Cor do texto no cabeçalho */
}

ion-title {
  font-size: 1.5rem; /* Tamanho da fonte do título */
  background-color: #007bff;
  color: #fff;
}

/* Estilo para a barra de ferramentas */
ion-toolbar {
  --background: #007bff; /* Cor de fundo azul para a barra de ferramentas */
}

/* Estilo para a lista de itens */
ion-list {
  margin-top: 20px; /* Espaçamento superior da lista */
}

/* Estilo para os itens da lista */
ion-item {
  border-bottom: 1px solid #ddd; /* Linha divisória entre os itens */
}

/* Estilo para o avatar nas imagens dos itens */
ion-avatar img {
  border-radius: 50%; /* Tornar a imagem do avatar redonda */
  width: 50px; /* Tamanho da imagem do avatar */
  height: 50px;
}

/* Estilo para o texto dos itens */
ion-label {
  font-size: 1rem; /* Tamanho da fonte do texto */
  text-align: center;
}

/* Estilo para o card principal */
ion-card {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para o input da senha atual */
ion-input {
  font-size: 18px;
  width: 100%; /* Define a largura do input como 100% */
  text-align: center;
}

/* Estilo para os botões de geração de senhas */
ion-button {
  margin-top: 10px;
  font-size: 18px;
  width: 100%; /* Define a largura do botão como 100% */
  text-align: center;
}

/* Estilo para o card das últimas 5 senhas chamadas */
ion-card:last-child {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para a lista de últimas senhas chamadas */
ion-list {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

/* Estilo para os itens da lista de senhas */
ion-item {
  font-size: 16px;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
