<ion-card>
  <ion-card-content>
    <ion-list>
      <ion-label style="font-size: 30px">Relatorios</ion-label>
      <ion-item style="font-size: 20px"
        >Senhas Emitidas: {{senhasService.senhasTotal}}</ion-item
      >
      <ion-item style="font-size: 20px"
        >Senhas Geral: {{senhasService.senhasGeral}}</ion-item
      >
      <ion-item style="font-size: 20px"
        >Senhas Prioritárias: {{senhasService.senhasPrior}}</ion-item
      >
      <ion-item style="font-size: 20px"
        >Senhas Exame: {{senhasService.senhasExame}}</ion-item
      >
    </ion-list>
  </ion-card-content>
</ion-card>


