<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button (click)="addPhotoToGallery()">
    <ion-icon name="camera"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Batalhar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header [ngClass]="{'empate-text': empate, 'ganhou-text': !empate && areaBusca.abilitiesCount > photoService.getPokemonData()?.abilitiesCount, 'perdeu-text': !empate && areaBusca.abilitiesCount < photoService.getPokemonData()?.abilitiesCount}">
      <ion-card-title>{{ areaBusca.nomePokemon | uppercase }}</ion-card-title>
      <ion-img alt='' [src]="areaBusca.imagemPokemon"></ion-img>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label [ngClass]="{'empate-text': empate, 'ganhou-text': !empate && areaBusca.abilitiesCount > photoService.getPokemonData()?.abilitiesCount, 'perdeu-text': !empate && areaBusca.abilitiesCount < photoService.getPokemonData()?.abilitiesCount}">
            Abilities: {{ areaBusca.abilitiesCount }}
            <ion-text *ngIf="empate"> Empatou</ion-text>
            <ion-text *ngIf="!empate && areaBusca.abilitiesCount > photoService.getPokemonData()?.abilitiesCount"> Ganhou</ion-text>
            <ion-text *ngIf="!empate && areaBusca.abilitiesCount < photoService.getPokemonData()?.abilitiesCount"> Perdeu</ion-text>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Height: {{ areaBusca.height }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Weight: {{ areaBusca.weight }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
    