<ion-card>
  <ion-card-content>
    <ion-button expand="block" (click)="chamarSenha()"
      >Chamar Próxima Senha</ion-button
    >
  </ion-card-content>
  <ion-card-header>
    <ion-label class="senha-chamada"
      >Últimas senhas chamadas:</ion-label
    >
  </ion-card-header>
    <ion-card>
      <ion-card-header>
        <ion-label>Geral:</ion-label>
      </ion-card-header>
      <ion-card-content>
        <ion-chip
      *ngFor="let senha of senhasService.senhasAtendidasSG.slice(-2)"
      style="font-size: 30px"
    >
      {{ senha }}
    </ion-chip>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-label>Prioritária:</ion-label>
      </ion-card-header>
      <ion-card-content>
        <ion-chip
      *ngFor="let senha of senhasService.senhasAtendidasSP.slice(-2)"
      style="font-size: 30px"
    >
      {{ senha }}
    </ion-chip>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-label>Exame:</ion-label>
      </ion-card-header>
      <ion-card-content>
        <ion-chip
      *ngFor="let senha of senhasService.senhasAtendidasSE.slice(-2)"
      style="font-size: 30px;"
    >
      {{ senha }}
    </ion-chip>
      </ion-card-content>
    </ion-card>


</ion-card>
