
  <ion-card>
    <ion-card-header>
      <ion-input readonly="true" label="Senhas: " value="{{senhasService.inputNovaSenha}}"></ion-input>
      <ion-input readonly="true" label="Próximo: " value="{{senhasService.chamarProximoNaFila()}}"></ion-input>
    </ion-card-header>
    
    <ion-card-content>
    
      <ion-button expand="block" (click)="senhasService.novaSenha('SG')">Senha Geral</ion-button>
      <ion-button expand="block" (click)="senhasService.novaSenha('SP')">Senha Prior</ion-button>
      <ion-button expand="block" (click)="senhasService.novaSenha('SE')">Senha Exame</ion-button>
    
    </ion-card-content>
  </ion-card>
  
